.container {
  --bg: #ff4b4b;
  --text: #fff;
  --nav: #4e4444;
  --contact: #d9d9d9;
  --footer: #000;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  font-size: 16px;
  overflow-x: hidden;
  background-repeat: repeat-x;
  margin: 0;
  width: 75vw;
  margin-left: 25vw;
  height: 100vw;
  background-color: var(--bg);
  color: #fff;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 425px) {}