.container {
  --bg: #ff4b4b;
  --text: #fff;
  --nav: #4e4444;
  --contact: #d9d9d9;
  --footer: #000;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  font-size: 16px;
  overflow-x: hidden;
  background-repeat: repeat-x;
  margin: 0;
  width: 75vw;
  margin-left: 25vw;
  height: 100vw;
  background-color: var(--bg);
  color: #fff;
}

.inputGroup {
  height: 50%;
  width: 200%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.inputLabel {
  text-align: left;
}

.inputField {
  height: 30px;
}